version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    environment:
      - DATABASE_URL=sqlite:///./data/data.db
      - UVICORN_HOST=0.0.0.0
      - UVICORN_PORT=8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
      - ./backend/data:/app/data
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

  jenkins:
    image: jenkins/jenkins:lts-jdk21      # Jenkins con Java 21
    container_name: jenkins
    ports:
      - "8081:8080"                       # Web de Jenkins → http://localhost:8081
    volumes:
      - jenkins_home:/var/jenkins_home    # Guardar la configuración y jobs
    environment:
      - TZ=America/Bogota                 # zona horaria
    restart: unless-stopped
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  jenkins_home:
