version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend
    environment:
      - DATABASE_URL=sqlite:///./data/data.db
      - UVICORN_HOST=0.0.0.0
      - UVICORN_PORT=8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
      - ./backend/data:/app/data
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

  jenkins:
    build: ./jenkins 
    container_name: jenkins
    ports:
      - "8081:8080"
      # - "50000:50000"   # opcional: agentes JNLP
    environment:
      - TZ=${TZ}
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASS=${ADMIN_PASS}
    volumes:
      - jenkins_home:/var/jenkins_home
      # Monta el script de bootstrap para primer arranque
      - ./jenkins/bootstrap.groovy:/usr/share/jenkins/ref/init.groovy.d/bootstrap.groovy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  jenkins_home:
